.modal {
    width: 30% !important;
}

hr {
    width: 90%;
}

.joinIn_part {
    text-align: center;
    margin: 7%;
}

.textInfo {
    font-style: italic;
    text-align: center;
    margin: 3px 70px;
    padding: 3px;
    color: burlywood;
    background-color: brown;
}